/*body {
  background-color: aliceblue;
}
body.bg_login {
  background-image: url(/web/src/assets/Logo/Logo\ SECCLasS.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
*/

/* GERAIS */
body {
  background-color: #fff;
}

header {
  padding: 10px;
}
.jumbotron {
  padding: 2rem 2rem;
}

.Pagination {
  display: flex;
  list-style: none;
}

.Pagination li + li {
  margin-left: 0.5rem;
}

.Pagination__item {
  background-color: #fff;
  border: none;
}
.Pagination__item-active {
  font-weight: bold;
}
.pagination__item-active:focus {
  outline: none;
}
.btn-mostrar {
  color: #fff;
  background-color: #451e3e;
  border-color: #451e3e;
}
.btn-mostrar:hover {
  color: #fff;
  background-color: #451e3e;
  border-color: #451e3e;
}
.btn-listar {
  color: #fff;
  background-color: #474787;
  border-color: #474787;
}
.btn-listar:hover {
  color: #fff;
  background-color: #474787;
  border-color: #474787;
}
