/*body {
  background-color: aliceblue;
}

body.bg_login {
  background-image: url(/web/src/assets/Logo/Logo\ SECCLasS.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
*/

/* GERAIS */
body {
  background-color: #fff;
}

header {
  padding: 50px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.69) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}
